.kmc-intro__wrapp {
  position: relative;
  padding-top: 20px;
  // padding-bottom: 660px;
  background-color: #fce7c6;
  // background-image: url('../img/kms-results.png');
  // background-repeat: no-repeat;
  // background-position: center bottom;
}

.kmc-intro__company-logo {
  width: 290px;
  // height: 100px;
  margin: 0 auto;
  // outline: 1px solid #fff;
}

.kmc-intro__company-logo img {
  display: block;
  max-width: 250px;
  margin: 0 auto;
}

.kmc-intro__benefit {
  font-size: 38px;
}
