@media (min-width: $tablet) {
  .news {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

@media (min-width: $desktopXS) {
  .news__wrap {
    display: flex;
    margin-bottom: 50px;
  }
 
  .news {
    width: calc(100% - 340px);
    margin: 0;
    margin-bottom: -30px;
  }
}