.page-header__wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: $color-bg-gray;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 55px;
  font-size: 18px;
}

.page-header__logo {
  font-size: 0;
}


@media (min-width: $desktopXS) {
  .page-header {
    justify-content: flex-start;
  }

  .page-header__logo {
    margin-right: 50px;
  }
}