.smm-intro__wrapp {
  padding-top: 30px;
  background-color: #fee792;
}

.smm-intro__company-logo {
  margin-bottom: 25px;
}

.smm-intro__company-logo img {
  display: block;
  max-width: 250px;
  margin: 0 auto;
}

@media (min-width: $tablet) {
  .smm-intro__company-logo {
    margin-bottom: 45px;
  }
}