$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 750px;
$desktopXS: 1024px;
$desktop: 1170px;
$desktopL: 1440px;
$max-width: 1920px;

$retina-dppx: 1.5dppx;

$font: "fira_sans", "Arial", sans-serif;
$opensans: "open_sans", "Arial", sans-serif;
$font-accent-2: "etelka_wide_medium_pro", "Arial", sans-serif;
$font-accent: "arciform_sans_cyr-lat", "Arial", sans-serif;
$color-text: #000000;
$color-text-light: #181818;
$color-accent: #e54848;
$color-accent-2: #347399;
// $color-accent-3: #509fce;
$color-bg-gray: #ebebeb;
$color-bg-gray-2: #f5f7fa;
